<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.40">
  <actions>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobAction plugin="pipeline-model-definition@1.8.4"/>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction plugin="pipeline-model-definition@1.8.4">
      <jobProperties/>
      <triggers/>
      <parameters/>
      <options/>
    </org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction>
  </actions>
  <description>Pipeline_1 try</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <com.coravy.hudson.plugins.github.GithubProjectProperty plugin="github@1.33.1">
      <projectUrl>https://github.com/4rk4d1u52/panda_application.git/</projectUrl>
      <displayName></displayName>
    </com.coravy.hudson.plugins.github.GithubProjectProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2.92">
    <script>pipeline {
    agent {
      label &apos;Slave&apos;
    }

    tools {
        // Install the Maven version configured as &quot;M3&quot; and add it to the path.
        maven &quot;m3&quot;
    }

    stages {
        stage(&apos;Get Code&apos;) {
            steps {
                // Get some code from a GitHub repository
                git branch: &apos;seleniumgrid&apos;, credentialsId: &apos;GitHubpass&apos;, url: &apos;https://github.com/4rk4d1u52/panda_application.git&apos;
            }
        }
        
        stage(&apos;Build&apos;) {
            steps {
                // Get some code from a GitHub repository
                sh &apos;mvn clean install&apos;
            }
        }

        stage(&apos;Test Selenium&apos;) {
            steps {
                // Get some code from a GitHub repository
                sh &apos;mvn test -Pselenium&apos;
            }
        }
        
        stage(&apos;Deploy&apos;) {
            steps {
                //configFileProvider([configFile(fileId: &apos;fbb7ec03-d6f7-49b8-984c-e65df188fb97&apos;, variable: &apos;$mavensettings&apos;)]) {
                configFileProvider([configFile(fileId: &apos;fbb7ec03-d6f7-49b8-984c-e65df188fb97&apos;, variable: &apos;MySettings&apos;)]) {
                // some block
                sh &quot;mvn -s $MySettings deploy -Dmaven.test.skip=true -e&quot;
               }
            }
        }
    }
}
</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>